body {
  /* width: 100vw; */
  /* height: 100vh; */
  display: flex;
  background-color: var(--bg-gray);
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.checkin-header {
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: var(--blue-light);
  color: var(--text-light);
  padding: 0rem 0rem 0rem 1rem;
  height: 5vh;
  font-size: 0.8rem;
  z-index: 10;
  position: fixed;
  top: 0;
}

.checkin-header h1 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 600;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* height: 100%; */
  align-items: flex-start;
  padding: 6rem;
  padding-top: 4.3rem;
  gap: 1rem;
}

.box-left {
  width: 100%;
  display: grid;
  flex-direction: column;
  grid-template-rows: 0.5fr 1fr;
  height: 100%;
  gap: 1rem;
}

.checkin-box {
  height: 100%;
}

.checkin-historic-box {
  height: 100%;
  min-height: 100%;
}

.checkin-box,
.checkin-historic-box {
  background-color: var(--text-light);
  border-radius: 5px;
  padding: 2rem 2rem;
  margin: 0;
  -webkit-box-shadow: 6px 6px 16px -2px #6d6b6b,
    6px 6px 16px -2px rgba(202, 202, 202, 0);
  box-shadow: 6px 6px 16px -2px #6d6b6b,
    6px 6px 16px -2px rgba(202, 202, 202, 0);
}

.checkin-box h2,
.checkin-historic-box h2 {
  font-size: 1.4rem !important;
  font-weight: 600;
  margin-bottom: 1.3rem;
}

.checkin-historic-box .pagination {
  margin-top: 1.3rem !important;
}

/* Search Input */
.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: 2.3rem;
  border: 1px solid rgba(128, 128, 128, 0.685);
  border-radius: 5px;
  margin: 1rem 0rem 1rem 0rem;
}

.search-box form {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.input-search {
  border: none;
  padding: 0.6rem;
  width: 60%;
  outline: none;
  border-radius: 5px;
}

.input-search::placeholder {
  font-size: 0.7rem;
  font-weight: 500;
  opacity: 0.6;
}

.search-button {
  width: 20%;
  display: flex;
  align-items: center;
  height: 100%;
  border: none;
  background-color: var(--blue-light);
  color: var(--text-light);
  font-weight: 600;
  font-size: 0.8rem;
}

.search-button:hover {
  filter: brightness(1.03);
}

.search-button {
  background-color: var(--blue-light);
  color: var(--text-light);
  border: none;
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header.box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.header.box2 h2 {
  margin: 0;
}

/* Check-in Button */
.checkin-button {
  border: none;
  text-decoration: none;
  background-color: var(--green-light);
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: 5px;
  color: var(--text-light) !important;
  font-weight: 600;
}

.delete-checkin-button {
  border: none;
  text-decoration: none;
  background-color: var(--red-light);
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: 5px;
  color: var(--text-light) !important;
  font-weight: 600;
  font-size: 0.8rem;
  height: 100%;
  margin: 0;
}

.delete-checkin-button:hover {
  filter: brightness(1.08);
  cursor: pointer;
}

.box-occu {
  background-color: rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border-radius: 5px;
  width: 14rem;
  font-size: 70%;
  padding-bottom: 1rem;
}

.box-occu-header {
  background-color: var(--green-light);
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0px 0px;
  width: 100%;
}

.boxes-occupation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.line-info {
  display: flex;
  margin: 2rem 0rem;
  flex-direction: column;
  width: 80%;
  justify-content: flex-start;
  align-items: flex-start;
}

.line-info p {
  font-weight: 500;
  margin: 0;
  margin-bottom: 0.3rem;
}

.line-info span {
  color: var(--green-light);
  font-weight: 700;
}

.line-occupation {
  background-color: rgb(116, 115, 115);
  width: 100%;
  height: 1.8rem;
}

.fill-line {
  background-color: var(--green-light);
  /* width: 67%; */
  height: 100%;
}

.select-section-button {
  background-color: #109cf1;
  width: 80%;
  height: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white !important;
}

/******************* BOX RIGHT  ********************/
.box-right {
  background-color: var(--text-light);
  padding: 2rem 2rem;
  border-radius: 5px;
  height: 100%;
  -webkit-box-shadow: 6px 6px 16px -2px #6d6b6b,
    6px 6px 16px -2px rgba(202, 202, 202, 0);
  box-shadow: 6px 6px 16px -2px #6d6b6b,
    6px 6px 16px -2px rgba(202, 202, 202, 0);
}

.box-right .header-box h2 {
  font-size: 1.4rem !important;
  font-weight: 600;
  margin-bottom: 1.3rem;
}

.checkout-button img {
  width: 40%;
  height: 60%;
  /* background-color: #d46019; */

  /* border: none;
  text-decoration: none;
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: 5px;
  color: var(--text-light) !important;
  font-weight: 600;
  font-size: 0.8rem; */
}

.prepare-img {
  width: 1rem !important;
  height: 1rem !important;
}

.td-prepare i {
  font-size: 1.2rem;
  color: var(--blue-light) !important;
}
.td-ckout {
  font-size: 0.7rem;
}

.td-cliente {
  font-size: 0.8rem;
}

.td-section {
  font-size: 0.9rem;
}

.td-date {
  font-size: 0.8rem;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.action-buttons button {
  border: none;
}

.disable-icon i {
  color: var(--gray-light) !important;
  font-size: 1.2rem;
}

.tooltip-inner {
  background-color: var(--blue-light);
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: var(--blue-light);
}
/******************** MODAL *********************/
.modal-dialog {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 40vw !important;
}

.modal-header {
  border: none;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  width: 100%;
  padding-bottom: 0;
  width: 60vw !important;
}

.modal-content {
  width: 75vw !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-list {
  height: 100%;
}

.modal-content.cancelCheckin {
  height: 65vh;
  width: 45vw !important;
}

.modal-header.cancelCheckin {
  width: 45vw !important;
}

.modal-content.checkout {
  width: 40vw !important;
}

.modal-header.checkout {
  width: 40vw !important;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.p-question-modal {
  font-size: 1.3rem;
}

.p-modal-warning {
  font-size: 0.9rem;
}

.modal-body-1,
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.modal-body-1 i {
  font-size: 3.5rem;
  color: #109cf1 !important;
}

.modal-body-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: var(--dark-blue-text);
  font-weight: 500;
}

.modal-footer {
  border: none;
  display: flex;
  flex-wrap: unset !important;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.button-cancel-modal {
  background-color: #90a0b7;
  border: none;
  width: 30%;
}

.button-confirm-modal {
  background-color: var(--red-light);
  border: none;
  width: 30%;
  color: var(--text-light) !important;
}

.button-confirm-modal:hover {
  background-color: #d82244;
}

/******************** MODAL CHECKOUT  *******************/
.info-vehicle-checkout {
  display: flex;
  gap: 4rem;
}

.info-checkin-cancel {
  color: var(--dark-blue-text);
  display: flex;
  gap: 4rem;
}

.header-box.checkout-box {
  display: flex;
  justify-content: space-between;
}
.info-col-1,
.info-col-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.info-col-1 p,
.info-col-2 p {
  font-weight: 700;
  font-size: 1.3rem;
}

.info-col-1 a,
.info-col-2 a {
  font-weight: 400;
}

.btn-confirm-checkout {
  background-color: var(--green-light);
  border: none;
  width: 30%;
  color: var(--text-light) !important;
}

.checkout-img {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.checkout-img.modal-ck {
  width: 3.5rem !important;
  height: 3.5rem !important;
}

.div-line {
  width: 100%;
  border: 1px dotted var(--gray-light);
  opacity: 0.6;
}

.price-value-sec {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
}

.price-value-sec p {
  margin: 0;
}

.price-value-sec p:first-child {
  font-weight: 700;
}

.modal-footer.ckout {
  margin-bottom: 3rem;
}
/****************** Modal confirm cancel check-in  ****************/
.modal-body-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.modal-body-header i {
  color: var(--red-light);
  font-size: 3rem;
  margin-bottom: 1rem;
}

.cancel-reason-box {
  margin-top: 1.7rem;
}

.cancel-reason-box h5 {
  font-size: 1.1rem;
  color: var(--dark-blue-text);
}

#cancelReasonInput,
#cancelCkOutReasonInput {
  padding: 0.4rem;
  border-radius: 5px;
  border-color: var(--dark-blue-text);
  outline-color: var(--dark-blue-text);
  color: var(--dark-blue-text);
}

.alert {
  width: 80%;
}

/************ Checkout Price  *************/
.modal-checkout-price {
  display: none;
}

.modal-checkout-price.open {
  display: flex;
  position: absolute;
  z-index: 10;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.message-prepare-modal {
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--dark-blue-text);
}

/**********  MEDIA QUERY ***************/
@media (max-width: 100px) {
  .body-checkin {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    background-color: var(--bg-gray);
    align-items: center;
  }
}
/* 
@media (max-width: 1700px) {
  main {
    zoom: 0.8;
  }
} */
