.dashboard-body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw;   */
  overflow-x: none;
  padding-top: 4rem;

  /* height: 100vh; */
  /* background-color: var(--bg-gray); */
}

header {
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: var(--blue-light);
  color: var(--text-light);
  padding: 0rem 0rem 0rem 1rem;
  height: 5vh;
  font-size: 0.8rem;
  z-index: 10;
  position: fixed;
  top: 0;
}

header h1 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 600;
}

main {
  width: 90vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-left: 2rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.main-box1 {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  gap: 2rem;
}

.main-box2 {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}
/****** BOX 1 - BOX/BUTTON ******/
.box1 {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  gap: 2rem;
  background-color: var(--text-light);
  border-radius: 5px;
  align-items: center;
  padding: 2rem 0rem;
  /* padding: 0rem 6rem; */
}

.secLarge {
  display: flex;
  width: 31rem;
  align-items: center;
  justify-content: center;
}
.secLarge a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.section-main {
  display: flex;
  gap: 1rem;
}

.buttons-section {
  color: var(--text-light);
  background-color: var(--blue-light);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 15rem;
  height: 7rem;
  padding: 0rem 2rem;
  border-radius: 5px;
  font-weight: 700;
  transition: all 0.3s linear;
}

.sect1 a {
  text-decoration: none;
}

.big-button {
  width: 100%;
  height: 5rem;
  border-radius: 5px;
  height: 7rem;
  transition: all 0.3s linear;
}

.big-button:hover {
  cursor: pointer;
  transform: scale(1.023);
  transition: all 0.3s linear;
}

.car-entry-button {
  background-color: var(--green-light);
  border-radius: 5px 0px 0px 5px;
}
.car-out-button {
  background-color: var(--red-light);
  border-radius: 0px 5px 5px 0px;
}

.car-entry-button,
.car-out-button {
  background-color: none;
  padding: 0;
  display: flex;
  font-weight: 700;
  color: var(--text-light);
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
}

.car-entry-button p,
.car-out-button p {
  margin: 0;
}

.car-out-button {
  background-color: none;
  padding: 0;
  display: flex;
}

.buttons-section:hover {
  cursor: pointer;
  transform: scale(1.023);
  transition: all 0.3s linear;
}

.buttons-section i {
  font-size: 2.5rem;
}

.sect1,
.sect2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sect1 p,
.sect2 p {
  margin: 0;
}

/*********  BOX 2 ***********/

.box2 {
  display: grid;
  flex-direction: column;
  grid-template-rows: 1fr 1fr;
  grid-column: initial;
  gap: 1.5rem;
}

.sect2 a {
  text-decoration: none;
}

/* Next Out Box */
.next-out {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  background-color: var(--text-light);
  padding: 1rem;
  padding-bottom: 2rem;
  border-radius: 5px;
}

.next-out h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

.next-out .line {
  border: 1px solid var(--icon-light);
  width: 100%;
}

.action-buttons {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.action-buttons button {
  border: none;
}

.disable-icon i {
  color: var(--gray-light) !important;
  font-size: 1.2rem;
}

.action-buttons i {
  border: none;
  margin-top: 0.4rem !important;
}

.td-prepare i {
  font-size: 1.2rem;
  color: var(--blue-light) !important;
  margin-top: 0.4rem !important;
}

.checkout-img {
  width: 1.5rem !important;
  height: 1.5em !important;
}

.p-modal-prepare {
  font-weight: 700;
  font-size: 0.9rem;
  color: var(--dark-blue-text);
}

.modal-content.prepare {
  width: 50rem !important;
}

#modal-prepare {
  width: 100rem !important;
}

/* Occupation Box */
.occupation {
  background-color: var(--text-light);
  border-radius: 5px;
  padding: 1.5rem 5rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
}

.occupation h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.circles-occupation {
  display: flex;
  gap: 4rem;
  margin-top: 2rem;
}

.boxes-occupation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
}
.free-slots,
.busy-slots {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  border-radius: 100%;
  font-weight: 600;
}

.free-slots p,
.busy-slots p {
  font-size: 2.7rem;
  margin: 0;
}

.free-slots span,
.busy-slots span {
  font-size: 1.1rem;
  font-weight: 500;
}

.busy-slots {
  border: 10px solid var(--red-light);
  color: var(--red-light);
}

.free-slots {
  color: var(--green-light);
  border: 10px solid var(--green-light);
}

.buttons-section img {
  height: 3.4rem;
}

.td-client-name {
  font-size: 0.9rem;
}

/********** Box 3 ***********/
.movements {
  background-color: var(--text-light);
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap: 0.5rem;
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
}

.movements h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

.movements .line {
  width: 100%;
}

/******** Occupation Boxes  **********/
.boxes-occupation {
  /* display: flex; */
  gap: 1rem;
  margin-top: 2rem;
}

.box-occu {
  background-color: rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 14rem;
}

.box-occu-header {
  background-color: var(--green-light);
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0px 0px;
}

.line-info {
  display: flex;
  margin: 2rem 1rem;
  flex-direction: column;
}

.line-info p {
  font-weight: 500;
  margin: 0;
  margin-bottom: 0.3rem;
}

.line-info span {
  color: var(--green-light);
  font-weight: 700;
}

.line-occupation {
  background-color: rgb(116, 115, 115);
  width: 100%;
  height: 1.8rem;
}

.fill-line {
  background-color: var(--green-light);
  width: 67%;
  height: 100%;
}

.modal-content.prepare {
  width: 90vw !important;
}

.modal-body-2.prepare {
  font-size: 1rem;
  color: var(--dark-blue-text) !important;
}
.modal-body-2.prepare p {
  font-weight: 700;
  display: flex;
  align-items: flex-start;
  justify-content: start;
}

.modal-body-2.prepare a {
  font-weight: 400;
}

.modal-body.prepare {
  width: 40vw;
}

.modal-body.chekout-modal {
  width: 40vw;
}

.info-vehicle-checkout.prepare {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}

.info-col-1.prepare,
.info-col-2.prepare {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
}

.icon-prepare-modal {
  color: var(--blue-light) !important;
}

.btn-confirm-prepare {
  background-color: var(--green-light) !important;
  border: none;
  /* width: 20%;
  height: 100% !important; */
  margin: 0;
  color: var(--text-light) !important;
}

.prepare-img {
  width: 3.5rem !important;
  height: 3.5rem !important;
}

/******** BCX 3 **********/
.box3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  gap: 1rem;
  align-items: center;
  /* padding: 0rem 6rem; */
}

.checkins-info-box,
.checkouts-info-box,
.total-occupation-info-box {
  background-color: var(--text-light);
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.checkins-info-box h6,
.checkouts-info-box h6,
.total-occupation-info-box h6 {
  font-size: 1.2rem;
  font-weight: 500;
}

.principal {
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--text-dark);
}

.more-info-checkins {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.more-info-checkins p {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-left: 55%;
  font-size: 1.1rem;
}

.first-p-info {
  margin: 0;
}

.second-p-info {
  padding-left: 10%;
  font-weight: 600;
  color: green;
}

.total-occupation-info-box {
  align-items: center !important;
  justify-content: center !important;
  gap: 1rem;
}

.info-occup-p {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.1rem;
}

@media (max-width: 900px) {
  .main-content {
    margin-top: 3rem;
  }

  .main-box1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .main-box2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .occupation {
    padding: 1.5rem 5rem 5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
  }
}

/* @media (max-width: 1200px) {
  main {
    zoom: 0.95;
  }
} */
