/*=============== Sidebar Open ====================*/
.bg-sidebar {
  background-color: rgba(0, 0, 0, 0.582);
  width: 100vw;
  height: 100%;
  /* height: 100%; */
  position: fixed;
  top: 0;
  z-index: 4;
  transition: all 4s linear;
  /* display: none; */
}
.remove-bg-sidebar {
  display: none;
  transition: all 4s linear;
}
aside {
  background: var(--text-light);
  width: 13vw;
  max-width: 13rem;
  height: 100vh;
  padding: 3rem 0rem 0rem 0rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  /* border-right: 2px solid var(--icon-light); */
  -webkit-box-shadow: 5px 0px 13px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 0px 13px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 0px 13px -8px rgba(0, 0, 0, 0.75);

  z-index: 5;
  left: 0;
  bottom: 0;
  position: fixed;
}

aside i {
  color: var(--text-dark);
}

/**** Sidebar Header ****/
.header-sidebar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-sidebar img {
  width: 4rem;
  height: 4rem;
  transition: all 0.6s linear;
}

.header-sidebar i {
  font-size: 1.4rem;
  transition: all 0.4s;
}

.header-sidebar i:hover {
  transform: rotate(90deg);
  transition: all 0.4s;
  cursor: pointer;
}

/**** Sidebar Sections ****/
.menu-sections {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
  transition: all 0.4s;
}

.menu-sections button {
  border: none;
  background-color: var(--text-light);
}

.sections {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  transition: all 0.3s linear;
}

.sections:hover {
  background: var(--icon-light);
  cursor: pointer;
  letter-spacing: 0.05em;
}

.sections {
  text-decoration: none;
  color: #084236;
}

.sections:hover {
  color: #084236;
  text-decoration: none;
  cursor: pointer;
}

.sections:link,
.sections:visited,
.sections:hover,
.sections:active {
  color: #084236;
  text-decoration: none;
}

a:visited {
  color: var(--text-color);
}

.menu-sections a {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
}

.menu-sections i {
  width: 1rem;
}

.line {
  border: 1px solid var(--icon-light);
  opacity: 0.5;
}

/**** Sidebar Footer *****/
.footer-sidebar {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--blue-light);
  color: white;
  width: 100%;
  padding: 1rem 0rem 1rem 1rem;

  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  z-index: 11;
  height: 4rem;
}

.info-user {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  transition: all 1s linear;
}

.info-user span {
  font-size: 0.9em;
}

.info-user p {
  font-size: 0.6rem !important;
}

.info-user img {
  width: 2rem;
  height: 2rem;
  border-radius: 12px;
}

.text-info {
  display: flex;
  flex-direction: column;
  color: white;
}

.text-info span,
.text-info p {
  color: white;
}

.log-out i {
  color: var(white);
  font-size: 1rem;
  cursor: pointer;
  margin-right: 1rem;
}

/*=============== Sidebar Closed ====================*/

.close {
  width: 3%;
  justify-content: center;
  align-items: center;
}

.menu-sections.close {
  /* align-items: initial; */
  margin: 0;
}

.menu-sections.close a {
  margin-left: 1.5rem;
}

.close .header-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close #user-photo,
.close #user-office,
.close span,
.close #logo {
  display: none;
}

.close .sections {
  justify-content: center;
}

.close.footer-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: all 0.1s; */
  /* -webkit-transition: all 0.5s; */
  z-index: 11;
  width: 100%;
}

.close.footer-sidebar #log-out {
  margin-right: 0rem;
}

/***************** Media query  ***********/
@media (max-width: 780px) {
  aside {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    font-size: 10%;
  }

  aside {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100vw;
    position: fixed;
  }

  aside.close {
    justify-content: space-between;
    height: 7vh;
    position: fixed;
  }

  .sections {
    font-size: 2rem;
  }

  .menu-sections {
    gap: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-left: 2rem;
  }

  .menu-sections span {
    font-size: 1.4rem;
  }

  .menu-sections.close {
    gap: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
  }

  .menu-sections i {
    font-size: 1.1rem;
  }

  .menu-sections.close {
    padding: 0;
  }

  .menu-sections.close a {
    margin-left: 0rem;
  }

  .header-sidebar {
    top: 0;
    z-index: 10;
    /* justify-content: flex-end; */
  }

  .close .header-sidebar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 7%;
  }

  .footer-sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    width: 100vw;
  }

  .footer-sidebar.close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1.1rem;
  }

  .info-user {
    padding: 1rem;
    padding-bottom: 0rem;
  }

  a:visited {
    color: #084236;
  }

  /**** close sidebar ****/

  aside.close {
    position: absolute;
    top: 0;
    width: 100vw !important;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
  }

  header-sidebar {
    justify-content: flex-end;
    align-items: flex-end;
  }

  .close.header-sidebar {
    justify-content: flex-end !important;
    align-items: flex-end;
  }

  .close {
    position: relative;
    padding-top: 0;
    /* width: 10%; */
  }

  .close .sections img {
    width: 1.7rem;
  }

  .close.footer-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6%;
    height: 100%;
  }

  .close.footer-sidebar .info-user {
    padding: 0;
  }

  .close .footer-sidebar img {
    margin-top: 1rem;
  }
}

.line {
  display: none;
}
.alert {
  transition: all 0.8s linear;
}

/* Tooltip*/
.tooltip-inner {
  background-color: var(--blue-light);
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: var(--blue-light);
}
