:root {
  /* --blue-light: #109cf1; */
  --green-light: #2ed47a;
  --green-dark: #1e804a;
  --red-light: #ff3c5f;
  --text-dark: #192a3e;
  --text-light: white;
  --gray-light: #90a0b7;
  --dark-blue-text: #334d6e;
  --icon-light: #c2cfe0;
  --bg-gray: background-image: linear-gradient(to left bottom, #c7c6c6, #bfbebf, #b7b7b7, #b0afb0, #a8a8a8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: linear-gradient(
    to left bottom,
    #c7c6c6,
    #bfbebf,
    #b7b7b7,
    #b0afb0,
    #a8a8a8
  );
}

/******* Back button **********/

.back-button {
  background-color: var(--dark-blue-text) !important;
  border: none;
  text-decoration: none;
  transition: all 0.4s linear;
  font-weight: 600;
  color: var(--text-light) !important;
  font-weight: 600 !important;
  width: 10% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.back-button:hover {
  background-color: var(--dark-blue-text);
  transform: scale(1.06);
  transition: all 0.3s linear;
}

.back-button i {
  margin-right: 0.1rem;
}


/*****************  CONFIRM DELETE MODAL *******************/
.modal-dialog {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.modal-header {
  border: none;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  width: 100%;
  padding-bottom: 0;
}

.modal-content {
  width: 75vw !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.p-question-modal {
  font-size: 1.3rem;
}

.p-modal-warning {
  font-size: 0.9rem;
}

.modal-body-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.modal-body-1 i {
  font-size: 3.5rem;
  color: #ffb03f;
}

.modal-body-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: var(--dark-blue-text);
  font-weight: 500;
}

.modal-footer {
  border: none;
  display: flex;
  flex-wrap: unset !important;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.7rem;
}

.button-cancel-modal {
  background-color: #90a0b7;
  border: none;
  width: 30%;
}

.button-confirm-modal {
  background-color: var(--red-light);
  border: none;
  width: 30%;
  color: var(--text-light) !important;
}

.button-confirm-modal:hover {
  background-color: #d82244;
}
/*///////////////////////////////////////////////////////*/

.alert.message {
  position: fixed;
  top: 0;
  right:0;
  z-index: 20;
  margin-top: 1rem;
  margin-right: 1rem;
  width: 35vw;
}